@import '../../abstracts/abstracts';

.header {

    background-color: $White;
    padding: 2.125rem 1rem;
    font-size: $fontS-xs;
    font-weight: $fontW-sb;
    box-shadow: $box-shadow-light;


    &.dark {
        background-color: $DarkBlue;
        color: $White;
        box-shadow: $box-shadow-dark;
    }
   

    &__banner {
        
        display: flex;
        flex-direction: row;
        justify-content: space-between;
       
        @include media-up('large'){
            font-size: $fontS-m;
        }

    }
    
    &__logo {
        font-size: $fontS-xs;

        @include media-up('large'){
            font-size: $fontS-m;
            
        }
    }

    &__switch {
        padding: 0 15px;
        transition: 200ms ease-in-out;
        display: flex;
        flex-direction: row;
        align-items: center;

        &:hover {
            
            border-radius: 5px;
            background-color: black;
            color: $White;

            i {
                background-image: url('../../assets/moon.png');
            }
           
        }


        i {
            margin-right: 5px;
            width: 15px;
            height: 15px;
            background-image: url('../../assets/moon-outline.svg');
            background-repeat: no-repeat;
            background-size: 100%;

        }



        &.dark {


            i {
                background-image: url('../../assets/moon.png');
            }

           
            &:hover {

                background-color: $White;
                color: black;

                i {
                    background-image: url('../../assets/moon-outline.svg');
                }
            }
        }

    }
}