@import '../../abstracts/abstracts';


.main {
    background-color: $VeryLightGray;
   
}

.nav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;


    @include media-down('large'){
        padding-left: 1rem;
        padding-right: 1rem;
    }

    @include media-up('large'){
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__search {
       margin-bottom: 2.5rem;
    }

    &__select {
        position: relative;
        width: 12.5rem;
        margin-bottom: 0.625rem;
    }

}


.searchBar {
    
    padding: 1rem 2.125rem;
    color: $DarkGray;
    background-color: $White;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 0px #8585854d;

    @include media-up('medium'){
        height: 3.75rem;
        width: 30rem;
    }

    i {
        padding-right: 1.75rem;
        
    }

    input {
        border: none;
        width: 80%;

        &::placeholder {
            color: $DarkGray;
        }

        &:focus {
            outline: none;
        }
    }
}


// .select {
//     // width: 12.5rem;
//     // padding: 1.25rem 1.5rem;
//     // border: none;
//     // box-shadow: 0px 0px 20px 0px #8585854d;
//     display: none;

//     &-selected {
//         background-color: $VeryDarkBlue;
//     }

// }


.select {
   
    border:none;
    border-radius: 20px;
   
    &::after {
        position: absolute;
        content: "";
        
    }

    &__title {
        margin-bottom: 5px;
        background-color: $White;
        padding: 1.25rem 1.5rem;
        border-radius: 5px;
      
        i {
            position: absolute;
            right: 1.25rem;
        }
    }   


    &__selection {
        background-color: $White;
        border-radius: 5px;
        padding: 1.25rem 0;
     

        div:nth-child(1) {
            border-radius: 5px;
        }

        > div {
            padding: 0.5rem 1.25rem;
        }

        .selected {
            background-color: $VeryLightGray;
           
        }
    }

}


.list {

    display: flex;
    justify-content: center;
   
}

.card {
    background-color: $White;
    flex: 0 1 16.5rem;
    
    &__pic {
        height: 10.125rem;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 5px;
    }

    &__info {
        padding-top: 1.875rem;
        padding-bottom: 3rem;
        font-size: $fontS-s;

        h2 {
            font-size: $fontS-r;
            padding-bottom: 1.5rem;
        }

        p {
            font-weight: $fontW-sb;
            line-height: 1;
        }

        span {
            font-weight: $fontW-l;
        }

        p:not(:last-child) {
            padding-bottom: 0.75rem;
        }
    }
}