@import '../../abstracts/abstracts';


.page {

    background-color: $VeryLightGray;
    height: 100vh;


    &__nav {
        padding: 2.5rem 1.75rem 4rem 1.75rem;
    }

    &__detail {

    }
}


.button {
    background-color: $White;
    width: 6.625rem;
    padding: 0.75rem 1.5rem;
    font-size: $fontS-xs;

    @include media-up('large'){
        width: 8.5rem;
    }

    a {
        color: $Black;
    }

    i {
        padding-right: 0.625rem;
    }
}


.detail {
    padding: 0 1.75rem;
    display: flex;

    @include media-up('large'){
        flex-direction: row;
    }


    &__flag {
        width: 100%;
        height: 14.5rem;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        
        @include media-up('large'){
            height: 25rem;
        }
        
    }

   
    &__info {

    }
}