@import '../../abstracts/abstracts';


.page {

    &__nav {
        padding: 2.5rem 1.75rem 4rem 1.75rem;
    }

    &__detail {
        
    }
}


.button {
    background-color: $White;
    width: 6.625rem;
    padding: 0.75rem 1.5rem;
    font-size: $fontS-xs;

    @include media-up('large'){
        width: 8.5rem;
    }

    a {
        color: $Black;
    }

    i {
        padding-right: 0.625rem;
    }
}


// .detail {
//     padding: 0 1.75rem;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     align-items: center;
//     font-size: $fontS-xs;


//     @include media-up('large'){
//         flex-direction: row;
        
//     }


//     &__flag {
        
//         width: 100%;
//         height: 14.5rem;
//         background-size: contain;
//         background-repeat: no-repeat;
//         background-position: center center;
//         margin-bottom: 3.25rem;
//         margin-right: 7.75rem;
        
//         @include media-up('large'){
//             flex: 1;
//             height: 25rem;
//         }
        
//     }

   
//     &__info {
//        max-height: 20rem;

//         @include media-up('large'){
//             flex: 1;
//         }

//         h2 {
//             margin-bottom: 2rem;
//             font-size: $fontS-m;
//         }
        
//         & > div:not(:last-of-type) {
//             padding-bottom: 3.375rem;
//             font-weight: $fontW-sb;
            
//         }

//         p {
//             line-height: 2;
//         }

//         span {
//             font-weight: $fontW-l;
//         }
//     }

//     h3 {
//         font-size: $fontS-s;
//         font-weight: $fontW-sb;
//         padding-bottom: 1.375rem;
//         padding-right: 1rem;
//     }

//     &__group {
       
//         display: flex;
//         flex-direction: row;
//         justify-content: space-between;
        
//     }


//     &__border {
//         display: flex;
//         flex-direction: row;
//     }


//     &__countries {
//         display: flex;
//         flex-direction: row;
//         justify-content: space-between;

//         @include media-up('large'){
//             justify-content: flex-start;
//         }

//         & > div {

//             background-color: $White;
//             padding: 0.625rem;
//             min-width: 6.25rem;
//             text-align: center;
//             font-weight: $fontW-l;
//             border-radius: 3px;
//             box-shadow: 0px 0px 5px 0px #8585854d;
//         }
//     }
    
// }


.detail {

    padding: 0 1.75rem 3.75rem 1.75rem;
    
    @include media-up('large'){
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__flag {

        width: 100%;
        height: 14.5rem;
        margin-bottom: 3.125rem;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        flex: 1;

        @include media-up('large'){
            height: 25rem;
            max-width: 35rem;
            margin-bottom: 0;
            background-position: left center;

        }
    }

    &__info {
        flex: 1;
        
        @include media-up('large'){
            margin-left: 7.5rem;
        }

        h2 {
            margin-bottom: 2rem;

            @include media-up('large'){
                margin-bottom: 2.375rem;
            }
        }
    }

    &__group {


        @include media-up('large'){
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        p {
            font-weight: $fontW-sb;
            line-height: 2;
        }

        span {
            font-weight: $fontW-l;
        }

        & > div {
            margin-bottom: 3.25rem;


        }
    }

    &__border {

        h3 {
            font-size: $fontS-r;
            font-weight: $fontW-sb;
            padding-bottom: 1.375rem;
        }

        @include media-up('large'){
            display: flex;
            flex-direction: row;
            align-items: center;

            h3 {
                padding-bottom: 0;
                margin-right: 1rem;
            }
          
        }

    }

    &__countries {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        & > div {

            background-color: $White;
            min-width: 6.25rem;
            padding: 0.625rem;
            font-weight: $fontW-l;
            text-align: center;
            border-radius: 3px;
            box-shadow: 0px 0px 5px 0px #8585854d;
        }

        & > div:not(:last-of-type) {
            
            margin-right: 0.625rem;
        }

    }


}